@import './../../../assets/common.less';

.travel {
  box-sizing: border-box;
  flex: 0 0 23vw;
  height: 200px;
  background: @gray;
  border-radius: 10px;
  margin: 10px 1vw;
}

.travel:hover {
  height: 240px;
  transition: all ease-in-out 300ms;
  box-shadow: 0 0 5px 10px #f2f2f2;
}