@import './../../assets/common.less';
@import './../../assets/darkTheme.less';

@boxLength: 400px;

.outer {
  top: 0;
}

.icon {
  width: 100px;
  height: 100px;
}

.aside {
  flex: 1 2 @boxLength;
  margin: 20px;
  .terminal {
    background: @black;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px @black;
  }
  
  .box {
    position: relative;
    flex: 0 0 @boxLength;
    width: 25vw;
    background: @gray;
    opacity: .3;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px #999;
    overflow-y: auto;

    &.bg_none {
      background: none;
    }

    &-title {
      width: 100%;
    }
  }
}

.aside-body {
  flex: 1 1 800px;
  height: 90%;
  margin: 3% 20px;
  background: @gray;
  border-radius: 20px;

  .keyword {
    font-size: 7rem;
    color: @word;
  }
}

