@import './darkTheme.less';

@wholePercent: 100%;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}
html,body,#root {
  width: @wholePercent;
  height: @wholePercent;
  background: @dark;
  overflow: hidden;
}

.w-per_100 {
  width: @wholePercent;
}

.h-per-100 {
  height: @wholePercent;
}

.overflow-y {
  overflow-y: auto;
}

.sticky {
  position: sticky;
}

.dark {
  background: @dark;
}

.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
  &.flex_center {
    justify-content: center;
    align-items: center;
  }
  &.flex_start {
    justify-content: flex-start;
  }
  &.flex_end {
    justify-content: flex-end;
  }
  &.align_start {
    align-items: flex-start;
  }
  &.align_end {
    align-items: flex-end;
  }
  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
}

.mar {
  &-l-20 {
    margin-left: 20px;
  }
}

input.default {
  background: transparent;
  outline: none;
  border: none;
}